- return unless group.feature_available?(:group_ip_restriction)

- read_only = group.parent_id.present?

%h5= _('Restrict access by IP address')

= f.fields_for :ip_restriction do |ip_restriction_form|
  .form-group
    - if read_only
      = ip_restriction_form.text_field :range, value: group.root_ancestor_ip_restriction&.range, class: 'form-control', disabled: true, placeholder: _('No value set by top-level parent group.')
      .form-text.text-muted
        = _('IP address restriction is not editable in subgroups. Value inherited from top-level parent group.')
    - else
      = ip_restriction_form.text_field :range, class: 'form-control', placeholder: _('Enter IP address range')
    .form-text.text-muted
      - read_more_link = link_to(_('Read more'), 'https://gitlab.com/gitlab-org/gitlab-ee/issues/1985')
      = _('This group, including all subgroups, projects and git repositories, will only be reachable from the specified IP address range. Example: <code>192.168.0.0/24</code>. %{read_more_link}.').html_safe % { read_more_link: read_more_link }
