- project = local_assigns.fetch(:project, nil)
- namespace = local_assigns.fetch(:namespace, project && project.shared_runners_limit_namespace)
- scope = (project || namespace).full_path
- has_limit = (project || namespace).shared_runners_minutes_limit_enabled?
- can_see_status = project.nil? || can?(current_user, :create_pipeline, project)

- if cookies[:hide_shared_runner_quota_message].blank? && has_limit && namespace.shared_runners_minutes_used? && can_see_status
  .shared-runner-quota-message.alert.alert-warning.d-none.d-sm-block{ data: { scope: scope } }
    = namespace.name
    has exceeded its pipeline minutes quota. #{purchase_shared_runner_minutes_link(current_user, project)}

    .float-right
      = link_to 'Remind later', '#', class: 'hide-shared-runner-limit-message alert-link'
